# Visual Studio
.vs/
.vscode/*
!.vscode/extensions.json

# .NET build output
**/bin/
**/obj/

**/Conversas IA/

# React / Node
frontend/node_modules/
frontend/dist/
frontend/.vite/


# logs e coisas locais
**/keys/
*.user
*.suo
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

.idea
.DS_Store
*.ntvs*
*.njsproj
*.sln
*.sw?

# Banco de dados local
*.db
*.db-shm
*.db-wal

Published/

dontget.md